/*
* Styles for the NowPayments for WooCommerce checkout page
*/

#payment .payment_method_nowpayments label img.npwc-gateway-icon,
#payment .payment_method_nowpayments img {
	max-height: 28px;
	max-width: 100px;
	width: auto;
	height: auto;
	display: inline-block;
	vertical-align: middle;
	margin-left: 0.35em;
}
